
/* General styles */

.sub-topic-container {
    max-width: 800px;
    min-height: 200px;
    border: 5px solid black;
    padding: 20px;
    margin-bottom: 50px;
    font-size: 20px;
}

.sub-topic-container > h1:first-child, 
.sub-topic-container > h2:first-child, 
.sub-topic-container > h3:first-child, 
.sub-topic-container > h4:first-child {
    margin-top: 0px;
}

/* Your first component */

#amazing_scientists {
    text-align: center;
}

/* JavaScript in JSX with curly braces */

#javaScript-in-jsx-with-curly-braces .photo {
    border-radius: 45px;
}

.sub-topic-container textarea {
    min-width: 400px;
    min-height: 150px;
}

button {
    font-size: 2rem;
}

